h4 {color: dodgerblue; font-size: 22px;font-style:simplex_script}
h1 {color: dodgerblue; font- size: 22px}
body {color: dodgerblue; font-size: 22px}

body{

  background-image: url(https://media.gettyimages.com/photos/sydney-streeter-timidly-waits-behind-her-mom-outside-ps-171-patrick-picture-id97328732)
}
